---
import Section from "./Section.astro";
---

<Section title="Sobre mi" imageUrl="/images/usuario.png" ref="about">
  <p class="mb-5">
    Soy desarrollador <em class="text-[#ff5151]">Back-end</em> y <em
      class="text-[#ff5151]">Front-end</em
    >, soy estudiante de la carrera <strong class="text-indigo-300"
      >Analista Programador Universitario</strong
    >
    en la Facultad de Ingeniería.
  </p>

  <p class="mb-5">
    Me especializo en el desarrollo back-end con <strong class="text-amber-400"
      >Java</strong
    >, <strong class="text-emerald-400">Spring Boot</strong>, JPA con Hibernate
    y <strong class="text-blue-400">MySQL</strong>.
  </p>

  <p class="mb-5">
    Actualmente estoy aprendiendo acerca de tecnologías como <strong
      class="text-green-400">Node.js</strong
    >,
    <strong class="text-[#ff5151]">Angular</strong> y <strong
      class="text-yellow-400">Express</strong
    >.
  </p>
</Section>
