---
import EducationCard from "./EducationCard.astro";
import Section from "./Section.astro";
import { education } from "@data";
---

<Section
  title="Educación"
  imageUrl="/images/sombrero-de-graduacion.png"
  ref="education"
>
  {
    education.map(item => {
      return (
        <>
          <EducationCard {...item} />
          {item !== education[education.length - 1] && (
            <hr class="my-4 border-b border-gray-700" />
          )}
        </>
      );
    })
  }
</Section>
