---
import type { Project } from "src/interfaces/project.interface";
import ProjectItem from "./ProjectItem.astro";
import Section from "./Section.astro";
import { projects } from "@data";
---

<Section title="Proyectos" imageUrl="/images/administracion.png" ref="projects">
  {
    (projects as Project[]).map(project => {
      return (
        <>
          <ProjectItem {...project} />
          {project !== projects[projects.length - 1] && (
            <hr class="my-4 border-b border-gray-700" />
          )}
        </>
      );
    })
  }
</Section>
